<head>
    <meta name="description" content="Hide Price Of The Product If User IS Not Logged In">
    <meta name="keywords" content="odoo hide product price, hide product price, hit product price for guest user">
    <meta name="author" content="FreelancerApps">
</head>

<section class="oe_container">
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <h2 class="oe_slogan" style="color:#875A7B;">Hide Price Of The Product If User IS Not Logged In</h2>
        <h3 class="oe_slogan">This module hide price of the product if user is Not logged in. If user is not logged in system will display message <b>Sign
            In To Check Price</b>
            button instead of <b>Add to Cart</b> button.</h3>
    </div>
</section>

<section class="oe_container">
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <div style="background: white">
            <div class="alert alert-info">
                Price of the product is invisible for not logged in user.
            </div>
            <img src="1.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>

            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                If user is logged in price of the product will visible.
            </div>
            <img src="2.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>

            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Hide price of the product from product description page.
            </div>
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                If user is not logged in price of the product will visible from product description page too.<br/>
                Odoo display button <b>Sign In To Check Price</b>
            </div>
            <img src="3.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>

            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                If user is logged in price of the product will visible from product description page.
            </div>
            <img src="4.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="text-align: center;">
        <h2 class="oe_slogan" style="color:#875A7B;">You would love to have our other Apps!</h2>
        <div>
            <div class="oe_bg_img" style="margin-bottom: 20px">
                <a href="https://www.odoo.com/apps/modules/12.0/hide_any_menu/" target="new">
                    <img src="hide_any_menu_banner_small.png" style="width:45%;margin-left:3%;border: solid;">
                </a>
                <a href="https://www.odoo.com/apps/modules/12.0/set_read_only_user/" target="new">
                    <img src="set_read_only_user_banner_small.png" style="width:45%;margin-left:3%;border: solid">
                </a>
            </div>
            <div class="oe_bg_img" style="margin-bottom: 20px">
                <a href="https://apps.odoo.com/apps/modules/12.0/clear_shopping_cart/" target="new">
                    <img src="clear_shopping_cart_banner_small.png" style="width:45%;border:solid;margin-left:3%;">
                </a>
                <a href="https://www.odoo.com/apps/modules/12.0/import_image_fromurl/" target="new">
                    <img src="import_from_url_banner_small.png" style="width:45%;margin-left:3%;border: solid">
                </a>
            </div>
            <div class="oe_bg_img" style="margin-bottom: 20px">
                <a href="https://apps.odoo.com/apps/modules/12.0/auto_generate_ean13/" target="new">
                    <img src="auto_generate_ean13_banner_small.png" style="width:45%;border:solid;margin-left:3%;">
                </a>
                <a href="https://apps.odoo.com/apps/modules/12.0/manual_cron/" target="new">
                    <img src="manual_cron_banner_small.png" style="width:45%;margin-left:3%;border: solid">
                </a>
            </div>
        </div>
    </div>
</section>

<section class='oe_container oe_dark'>
    <h2 class='oe_slogan' style="color:#875A7B;">Supports</h2>
    <div class='oe_spaced' style="padding-left: 64px; padding-right: 64px; font-size: 18px; text-align: center;">
        <p class="oe_mt16">
            For any supports or questions, please contact me via:
        </p>
        <div class="oe_mt16" style="display: flex; flex-flow: row; justify-content: center">
            <div>
                <i class="fa fa-envelope fa-1x" style="color:#875A7B;"></i>
                <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=freelancerapps5@gmail.com" target="_blank">
                    <b style="color: #875A7B">freelancerapps5@gmail.com</b></a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_spaced">
    <h3 class="oe_slogan">Thank you!</h3>
</section>

