// switch company toolbar
.o_switch_company_menu{
  visibility: hidden !important;
  width: 0px !important;
}

// Cambiando el color de las letras del menú
//.o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label{
  //color: black !important;
  //font-weight: bold !important;
//}