<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Contabilidad Autom&#225;tica</h2>
            <h3 class="oe_slogan">M&#243;dulo de Mejoras Avanzadas de Contabilidad automatica</h3>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Este m&#243;dulo contiene varias mejoras especializadas para el M&#243;dulo de Contabilidad.
            </p>
            <!-- <div class="oe_centeralign oe_websiteonly">
                <a href="http://www.odoo.com" class="oe_button oe_big oe_tacky">Para m&#225;s <span class="oe_emph">informaci&#243;n</span></a>
            </div> -->
        </div>
    </div>
</section>