<section class="oe_container">
    <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_span12">
          <h2 class="oe_slogan" style="color:#e68a00; text-align: center;">Mail Messages Draft</h2>
          <h3>This is an optional extension for <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages_draft">Mail Messages Easy</a></h3>
          <div class="oe_demo" style="border:none;">
            <h4>Main features</h4>
            <ul>
              <li>Save message as draft to send later. <br/>
                <b>Hint:</b> You can have several drafts per one record! <br/>Each time open you open new mail compose wizard from the same record (e.g. CRM Lead) and press "Save &amp; Close" new draft is created.<br/>
                But if you press "Save &amp; Close" while sending you message from drafts, draft you are sending from will be overwritten.</li>
              <li>Edit draft messages</li>
              <li>Send message from draft</li>
              <li>Access control: Users can see and edit only drafts they have created</li>
              <li>Compose new message directly from messages menu <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages_draft_pro"><b>Click to get Pro Version!</b></a></li>
              <li>Restore message from draft in composer. Select which draft version to restore <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages_draft_pro"><b>Click to get Pro Version!</b></a></li>
              <li>Add labels to drafts to mark different versions easier <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages_draft_pro"><b>Click to get Pro Version!</b></a></li>
              <li>Move draft to other record <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages_draft_pro"><b>Click to get Pro Version!</b></a></li>
              <li>Add followers to draft to collaborate on draft <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages_draft_pro"><b>Click to get Pro Version!</b></a></li>
            </ul>
            <h4>Support</h4>
            <ul>
              <li>Tested on Odoo Community v12.0</li>
              <li>Russian language translation</li>
              <li>English, German and Russian language support</li>
              <li><a href="mailto:odooapps@cetmix.com">Click to contact us</a> for support or any custom app you need</li>
            </ul>
            <h3>Known issues</h3>
            <ul>
              <li>After message is sent from the draft in Odoo 10 and Odoo 12 you will be automatically redirected to "Messages" view.</br>
              However this option in not working in Odoo 12 yet</li>
            </ul>

          </div>
          <h3 style="text-align: center;"><a target="_blank" href="https://apps.odoo.com/apps/browse?repo_maintainer_id=222445">Click here for more addons!</a></h3>
        </div>
      </div>

  <div class="oe_row oe_spaced" style="max-width: 800px;">
    <div class="oe_demo">
      <h3 class='oe_slogan'>Save message as draft</h3>
    </div>
    <div class="oe_demo oe_screenshot">
      <img src="draft_1.png">
      <p>Right click and select "Open image in new tab" to see details</p>
      </br>
    </div>
    <div class="oe_demo oe_screenshot">
      <img src="draft_2.png">
      <p>Right click and select "Open image in new tab" to see details</p>
      </br>
    </div>
  </div>

  <div class="oe_row oe_spaced" style="max-width: 800px;">
    <div class="oe_demo">
      <h3 class="oe_slogan">You can have several drafts per one record!</h3>
    </div>
    <div class="oe_demo oe_screenshot">
      <img src="draft_7.png">
      <p>Right click and select "Open image in new tab" to see details</p>
      </br>
    </div>
  </div>

  <div class="oe_row oe_spaced" style="max-width: 800px;">
    <div class="oe_demo">
      <h3 class="oe_slogan">Edit draft message</h3>
    </div>
    <div class="oe_demo oe_screenshot">
      <img src="draft_3.png">
      <p>Right click and select "Open image in new tab" to see details</p>
      </br>
    </div>
  </div>

  <div class="oe_row oe_spaced" style="max-width: 800px;">
    <div class="oe_demo">
      <h3 class='oe_slogan'>Send message from draft</h3>
    </div>
    <div class="oe_demo oe_screenshot">
      <img src="draft_4.png">
      <p>Right click and select "Open image in new tab" to see details</p>
      </br>
    </div>
    <div class="oe_demo oe_screenshot">
      <img src="draft_5.png">
      <p>Right click and select "Open image in new tab" to see details</p>
      </br>
    </div>
  </div>

  <div class="oe_row oe_spaced" style="max-width: 800px;">
    <div class="oe_demo">
      <h4 class="oe_slogan"><a href="https://demo.promintek.com">Click to try it!</a> Login:demo Password:demo51</h4>
      <h4 class="oe_slogan"><a href="mailto:odooapps@cetmix.com">Click to contact us</a> for support</h4>
      <h5 class="oe_slogan">Icons made using <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></h5>
    </div>
  </div>
</section>
