<!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- License URL : https://store.webkul.com/license.html/ -->

<section class='oe_container '>
    <section class="oe_container lead">
        <div class="panel oe_spaced">
            <h2 class="oe_slogan" style="color:#875A7B;">
               POS Stock
            </h2>
        </div>
        <div class="panel panel-primary" id="wkid0">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil-square-o "/><b>
                    <i class="fa fa-mail-forward"></i> Features:</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled ">
                    <li><i class="fa fa-check text-primary"></i>Display of current stock of products in a running session.</li>
                    <li><i class="fa fa-check text-primary"></i>Select stock type for display product stock in POS.</li>
                    <li><i class="fa fa-check text-primary"></i>Seller can deny or allow order for negative stock.</li>
                    <li><i class="fa fa-check text-primary"></i>Seller can set the stock limit below which order will be denied.</li>
                    <li><i class="fa fa-check text-primary"></i>Seller can set a custom error message for out of stock products.</li>
                </ul>
            </div>
        </div>
    </section>
    <br/>
    <br/>
    <section class="oe_container">
        <div id="my-tab-content" class="">
            <div class="active" id="pos_session_view">
                <h2 style='text-align: center;'>
                    <i class="fa fa-globe"></i> POS Session View &amp; Configuration</h2>
                <section class="oe_container">
                    <div class="panel panel-primary" id="wkid0">
                        <div class="panel-body">
                            <div class="alert alert-info">
                                <i class="fa fa-arrow-circle-o-right"></i>
                                <b>Stock Display Configuration</b>
                            </div>
                            <a href="screen1.png">
                                <img class="img-border img-responsive thumbnail" src="screen1.png">
                            </a>
                        </div>
                    </div>
                </section>
                <section class="oe_container">
                    <div class="panel panel-primary" id="wkid0">
                        <div class="panel-body">
                            <div class="alert alert-info">
                                <i class="fa fa-arrow-circle-o-right"></i>
                                <b>Products' stock information in the POS interface.</b>
                            </div>
                            <a href="screen2.png">
                                <img class="img-border img-responsive thumbnail" src="screen2.png">
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="alert alert-info">
                                <i class="fa fa-arrow-circle-o-right"></i>
                                <b>Products' stock information when seller allows order for negative stock.</b>
                            </div>
                            <a href="screen3.png">
                                <img class="img-border img-responsive thumbnail" src="screen3.png">
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
<section class='oe_container oe_dark'>
    <div class='oe_spaced'>
        <div class="panel">
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
                You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
    <div class="oe_spaced">
        <div class="panel">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'" onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Help</a></span>
            
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Support</a></span>
            
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Request new Features</a></span>
        </div>
    </div>
</section><section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
        <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=POS-STOCK&url=https://apps.openerp.com/apps/modules/12.0/pos_stocks&uid=pos_stocks" style="border:0" alt="" />
        <!-- End Piwik -->
    </div>
</section>