<!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- License URL : <https://store.webkul.com/license.html/> -->
<section class="oe_container">
    <div class="panel oe_spaced">
        <h2 class="oe_slogan">POS Warehouse Management</h2>
        <div>
          <div class="panel panel-primary">
            <div class="panel-body">

                <div class="alert alert-info">
                    <i class="fa fa-arrow-circle-o-right"></i>
                    <b> POS Warehouse Management </b>
                </div>
                <p style='margin-left:5%;'>
                    POS Warehouse Management is a module to manage multiple warehouses/locations within POS session. It shows and manage products stock in POS session. By default in POS only one stock location can be selected at one time.
                    This module allows the POS user to select more than one stock locations in POS, So that if any product is out of stock in POS Session then
                    POS user can order product from other stock locations. 
                </p>
            </div>
            <div class="panel-body">

                <div class="alert alert-info">
                    <i class="fa fa-arrow-circle-o-right"></i>
                    <b> Features </b>
                </div>
                <ul class="list-unstyled">    
                    <li style='margin-left:5%;'><i class="fa fa-check text-primary"></i>Display the current stock of products in running session.</li>
                    <li style='margin-left:5%;'><i class="fa fa-check text-primary"></i>Seller can select multiple stock locations for a single Point Of Sale by setting the other related stock locations</li>
                    <li style='margin-left:5%;'><i class="fa fa-check text-primary"></i>If product is out-of-stock in main stock location, seller can add product from other related stock locations.</li>
                    <li style='margin-left:5%;'><i class="fa fa-check text-primary"></i>Stock will be updated automatically after order validation </li>
                </ul>
            </div>
          </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <ul class="nav nav-tabs ">
        <li class="active"><a href="#odoo_pos_warehouse_management" data-toggle="tab"><b>POS Session View</b></a></li>
        <li><a href="#odoo_pos_warehouse_management_backend" data-toggle="tab"><b>Backend Configuration</b></a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">     
        <div class="tab-pane active" id="odoo_pos_warehouse_management"> 

            <section class="oe_container  oe_dark">
                <div class="">    
                    <div class='panel panel-primary'>
                        <div class="panel panel-info" >
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-pencil-square-o "/><b>POS Warehouse Management</b></h3>
                            </div>
                            <div class="panel-body">
                                <section class="oe_container oe_dark">
                                    <div class="">
                                        <div class="panel-heading" style="width:88%;">
                                            <div class="alert alert-info">
                                                <i class="fa fa-arrow-circle-o-right"></i>
                                                <b>Display Stock of Products</b>
                                            </div>
                                        </div>
                                        <div class="panel-heading" style="width:88%;">
                                            <div class="oe_demo oe_picture oe_screenshot" >
                                                <a href="screen1.png">
                                                    <img src="screen1.png" alt="screen 1">
                                                </a>
                                            </div>
                                        </div>   
                                    </div>
                                </section>

                                <section class="oe_container oe_dark">
                                    <div class="">
                                        <div class="panel-heading" style="width:88%;">
                                            <div class="alert alert-info">
                                                <i class="fa fa-arrow-circle-o-right"></i>
                                                <b>Message while adding out-of-stock product</b>
                                            </div>
                                        </div>
                                        <div class="panel-heading" style="width:88%;">
                                            <div class="oe_demo oe_picture oe_screenshot" >
                                                <a href="screen2.png">
                                                    <img src="screen2.png" alt="screen2">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="oe_container oe_dark">
                                    <div class="">
                                        <div class="panel-heading" style="width:88%;">
                                            <div class="alert alert-info">
                                                <i class="fa fa-arrow-circle-o-right"></i>
                                                <b>Select stock location and enter quantity wishes to add in cart</b>
                                            </div>
                                        </div>
                                        <div class="panel-heading" style="width:88%;">
                                            <div class="oe_demo oe_picture oe_screenshot" >
                                                <a href="screen3.png">
                                                    <img src="screen3.png" alt="screen 3">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="oe_container oe_dark">
                                    <div class="panel panel-primary ">
                                        <div class="panel-heading" style="width:88%;">
                                            <div class="alert alert-info">
                                                <i class="fa fa-arrow-circle-o-right"></i>
                                                <b>Product added to cart successfully</b>
                                            </div>
                                        </div>
                                        <div class="" style="width:88%;">
                                            <div class="oe_demo oe_picture oe_screenshot" >
                                                <a href="screen4.png">
                                                    <img src="screen4.png" alt="screen 4">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                             </div>
                        </div>
                   </div>
                </div>
            </section>
        </div>

        <div class="tab-pane active" id="odoo_pos_warehouse_management_backend">
            <section class="oe_container  oe_dark">
                <div class="">    
                    <div class=''>
                        <div class="panel panel-info" >
                            <div class="panel-heading ">
                                <h3 class="panel-title"><i class="fa fa-pencil-square-o "/><b>Backend View And Configuration</b></h3>
                            </div>
                            <div class="panel-body">
                                <section class="oe_container oe_dark">
                                    <div class="">
                                        <div class="" style="width:88%;">
                                            <div class="alert alert-info">
                                                <i class="fa fa-arrow-circle-o-right"></i>
                                                <b>Related Pickings generated for product ordered from other related stock locations.</b>
                                            </div>
                                        </div>
                                        <div class="" style="width:88%;">
                                            <div class="oe_demo oe_picture oe_screenshot" >
                                                <a href="screen7.png">
                                                    <img src="screen7.png" alt="screen 7">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="oe_container oe_dark">
                                    <div class="">
                                        <div class="" style="width:88%;">
                                            <div class="alert alert-info">
                                                <i class="fa fa-arrow-circle-o-right"></i>
                                                <b>Select Main stock location and other related stock locations.</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="" style="width:88%;">
                                            <p></p>
                                            <div class="oe_demo oe_picture oe_screenshot" >
                                                <a href="screen5.png">
                                                    <img src="screen5.png" alt="screen 5">
                                                </a>
                                            </div>
                                        </div>   
                                    </div>
                                </section>
                                <section class="oe_container oe_dark">
                                    <div class="">
                                        <div class="" style="width:88%;">
                                            <div class="alert alert-info">
                                                <i class="fa fa-arrow-circle-o-right"></i>
                                                <b>Create Related Pickings in Ready/Done state</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="" style="width:88%;">
                                            <p style="font-style:italic">Related pickings are created if a product is ordered from other related stock locations. Check 'Create Related Pickings in Ready State '
                                                option if you wish to create related pickings in the Ready state so that you can validate these related pickings in the backend. If 'Create Related Pickings in Ready State' option is unchecked
                                                then related pickings will be validated automatically and will be in the done state.
                                            </p>
                                            <div class="oe_demo oe_picture oe_screenshot" >
                                                <a href="screen6.png">
                                                    <img src="screen6.png" alt="screen 6">
                                                </a>
                                            </div>
                                        </div>   
                                    </div>
                                </section>
                           </div>              
                       </div>
                   </div>
                </div>
            </section>  
        </div>
    </div>
</section>
<section class='oe_container oe_dark'>
    <div class=''>
        <div class="">
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
            You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
    <div class=" oe_spaced">
        <div class="">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Request new Features</a></span>
        </div>
    </div>
</section><section class="oe_container">
    <div class="">
        <!-- Piwik Image Tracker-->
        <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=POS-WAREHOUSE-MANAGEMENT&url=https://apps.openerp.com/apps/modules/12.0/pos_warehouse_management&uid=pos_warehouse_management" style="border:0" alt="" />
        <!-- End Piwik -->
    </div>
</section>	