/**********************************************************************************
* 
*    Copyright (C) 2017 MuK IT GmbH
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Affero General Public License as
*    published by the Free Software Foundation, either version 3 of the
*    License, or (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/
	
.o_field_widget.o_field_image {
	@include media-breakpoint-up(sm, $o-extra-grid-breakpoints) {
		.mk_form_image_wrapper {
			min-height: 60px;
			min-width: 80px;
		}
	}
	.mk_form_image_controls {
		@include o-position-absolute($left: 0, $bottom: 0);
        width: 100%;
        color: white;
        background-color: $o-brand-primary;
        opacity: 0;
        transition: opacity ease 400ms;
        > button.fa {
            border: none;
            background-color: transparent;
        }
        > .fa {
            margin: 5px;
            cursor: pointer;
        }
    }
   	&:hover .mk_form_image_controls {
        opacity: 0.8;
    }
    @include media-breakpoint-down(xs, $o-extra-grid-breakpoints) {
		.mk_form_image_controls{
		    position: initial;
		    opacity: 1;
		    > .fa{
		        width: 50%;
		        padding: 6px;
		        margin: 0px;
		        text-align: center;
		        background: $o-brand-secondary;
		    }
		}
	}
}

.o_field_widget.o_field_image.oe_avatar {
	.mk_form_image_controls {
		@include o-position-absolute($left: 0, $bottom: 10px);
	}
    img {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
        max-width: $o-avatar-size;
        max-height: $o-avatar-size;
        vertical-align: top;
        margin-bottom: 10px;
        border: none;
    }
   	@include media-breakpoint-down(xs, $o-extra-grid-breakpoints) {
		.mk_form_image_controls{
		    position: initial;
		    > .fa{
		        background: $o-brand-secondary;
		    }
		}
	}
}
