<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <h2 class="oe_slogan" style="color:#2C0091;">Hide Product Price</h2>
      <h3 class="oe_slogan">Useful to hide sales price or cost price in tree,kanban and form view</h3>
      <h2 align="center">
	      <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" href="https://youtu.be/k7u4yHtNttE" target="_blank">How it works? Click here to watch video</a>
      </h2>      
    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <p class="oe_mt32">
		</p><div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
		  <i class="fa fa-hand-o-right"></i><b> Key features: </b>
			<ul class="list-unstyled">
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				easy to hide sales price
			  </li>			
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				easy to hide cost price 
			  </li>
			</ul>
		</div>
      		
    </div>
  </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Uncheck or check show sales price or show cost price group to show/hide product price</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="1.png">
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Show Sale price in kanban view</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="tmpl_k_1.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Hide Sale price in kanban view</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="tmpl_k_2.png">
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Show sales price and cost price in tree view</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="tmpl_t_1.png">
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Hide sales price and cost price in tree view</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="tmpl_t_2.png">
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Show sales price and cost price in form view</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="tmpl_f_1.png">
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Hide sales price and cost price in form view</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="tmpl_f_2.png">
        </div>
    </div>
</section>





<!-- product varient -->

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Show sales price and cost price in tree view in product variants</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="var_t_1.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Hide sales price and cost price in tree view in product variants</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="var_t_2.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Show sales price in kanban view in product variants</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="var_k_1.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Hide sales price in kanban view in product variants</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="var_k_2.png">
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
	<h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
	<h3 class="oe_slogan">You will get free support and assistance in case of any issues</h3>
	<br/>
	<div class="text-center">	
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:info@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="info[at]softhealer.com">Email</span></a>
	    <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="https://www.softhealer.com/support/help"  target="_blank"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="Softhealer Helpdesk">Helpdesk Support</span></a>
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="https://www.softhealer.com"  target="_blank"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="softhealer.com">More About Us</span></a>
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="skype:info@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="info_736589">Skype</span></a>
    </div>	
  </div>
</section>
