<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Product Variant's Price Extra</h2>
            <h3 class="oe_slogan">Set and Manage different Extra Price for a Product Variant</h3>
        </div>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="img1.png">
            </div>
        </div>
        <div class="oe_span12">
            <p class='oe_mt32'>
                This module allows you to set and manage extra price for each product's variant separately.
            </p>
            <p>
                You can simply set the extra price to be applied on a product's variant, regardless of it's attribute and attribute value. 
            </p>            
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class='oe_slogan'>Extra Price is applicable throughout Odoo</h3>
    </div>
    <div class='oe_row'>
        <div class='oe_span12'>
            <img class="oe_picture oe_screenshot" src="img2.png">
            <h4>Point Of Sale</h4>
            <p>
                Extra price is automatically applied in Point of Sale. No need of any manual intervention.
            </p>
        </div>
        <div class='oe_span12 '>
            <img class="oe_picture oe_screenshot" src="img3.png">
            <h3>Website Sale</h3>
            <p>
            Extra price for Product's Variant applicable in Website sale too.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class='oe_row'>
        <div class="oe_span12">
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
            You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to modules.
            </p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Request new Features</a></span>
        </div>
    </div>
</section><section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=PRODUCT-VARIANT-EXTRA-PRICE&url=https://apps.openerp.com/apps/modules/10.0/variant_price_extra&uid=variant_price_extra" style="border:0" alt="" />
<!-- End Piwik -->
    </div>
</section>
	